workflows/jamur-bot.json
{
  "name": "jamur-bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        96
      ],
      "id": "06cd8525-c1a6-4f67-a93a-043e032cfa30",
      "name": "Telegram Trigger",
      "webhookId": "7f48383b-e647-47cb-8b05-33eeaf06c999",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "277c65b0-c81d-4b92-a3f1-bfbb8dd23523",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        96
      ],
      "id": "dac3782b-fcaf-45d4-87f1-5717ee85129a",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json[\"message\"][\"voice\"][\"file_id\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "69618753-79a6-43b0-8b8b-c5729f7ff4f2",
      "name": "Get a file",
      "webhookId": "74753986-6e3b-4b36-a59d-5ab250f5c98e",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kita ubah mimeType binary audio ke audio/ogg\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    // SESUAIKAN 'data' kalau nama binary property kamu beda\n    item.binary.data.mimeType = 'audio/ogg';  // atau 'audio/mp3' kalau filenya MP3\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "893fe857-b1ea-4b82-9482-6bb84a3c5e9f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "86916fc0-5599-4af1-be18-c86f53c7e866",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "YJhd56Lt4RffVkSx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Teks perintah pengguna:\n\"{{ $json.content.parts[0].text }}\"\n\nUbah perintah di atas menjadi JSON dengan format:\n\n{\n  \"items\": [\n    {\n      \"nama\": \"string nama produk persis seperti di daftar harga\",\n      \"qty\": number jumlah item\n    }\n  ]\n}\n\nContoh:\nInput: beli roti sari roti keju 2, wafer tango 3, pocari sweat 1\nOutput:\n{\n  \"items\": [\n    { \"nama\": \"roti sari roti keju\", \"qty\": 2 },\n    { \"nama\": \"wafer tango\", \"qty\": 3 },\n    { \"nama\": \"pocari sweat\", \"qty\": 1 }\n  ]\n}\n\nJawab HANYA JSON valid tanpa penjelasan lain."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "Kamu adalah asisten keuangan yang mengubah perintah suara menjadi data transaksi keuangan. Selalu jawab HANYA dengan JSON valid, tanpa teks lain."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "90c9ac92-e698-4de0-865a-3eb87911d2b1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "YJhd56Lt4RffVkSx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8502080322:AAG49AM9RrUeY_pMZhzNlEdSGqaJwK8PrEQ/{{$json[\"result\"][\"file_path\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "623936ae-8f3a-4040-a8ed-b40413599fb9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src",
          "mode": "list",
          "cachedResultName": "Cashflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nomor nota": "={{ 'UWU-' + Date.now() }}",
            "Tanggal": "={{ $now }}",
            "Total": "={{ $json.grand_total }}",
            "Detail": "={{ $json.sheet_caption }}"
          },
          "matchingColumns": [
            "Tanggal"
          ],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Detail",
              "displayName": "Detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nomor nota",
              "displayName": "Nomor nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        208
      ],
      "id": "d7f4670d-d61e-4f08-b9ee-a4e8b2dfde3e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZmIrHaIG1IPPBpP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil raw text JSON dari Gemini\nconst raw = $json.content.parts[0].text; // jika fieldnya beda (misal $json.candidates[0]...), sesuaikan\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (error) {\n  throw new Error('Gagal parse JSON dari Gemini: ' + error.message + '\\nRaw: ' + raw);\n}\n\n// Pastikan ada array items\nif (!data.items || !Array.isArray(data.items)) {\n  throw new Error('Struktur JSON tidak mengandung \"items\" array');\n}\n\n// Untuk setiap item, buat 1 item n8n\nconst out = data.items.map(item => ({\n  json: {\n    nama: item.nama,\n    qty: item.qty\n  }\n}));\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        208
      ],
      "id": "892768f1-07d4-4337-80ce-f4989e8c6802",
      "name": "Items Parsed"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src",
          "mode": "list",
          "cachedResultName": "Cashflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2129359818,
          "mode": "list",
          "cachedResultName": "Daftar Harga",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit#gid=2129359818"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "lower",
              "lookupValue": "={{ $json[\"nama\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        208
      ],
      "id": "ad68551e-5eca-4bb0-809c-b02e0719fd67",
      "name": "Get row(s) in sheet",
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZmIrHaIG1IPPBpP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        208
      ],
      "id": "41891544-393c-42f7-8111-9f5934933520",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=Total%3A%20{{$json[\"grand_total\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        432
      ],
      "id": "10aaca81-3f65-4ed4-85e4-897cf52ee6e4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const lines = [];\nlet grandTotal = 0;\n\n// Loop semua item yang masuk (masih bentuk nama/qty/harga)\nfor (const item of items) {\n  const nama  = item.json.nama || item.json[\"Nama Produk\"];\n  const qty   = Number(item.json.qty || 0);\n  const harga = Number(item.json.harga || item.json[\"Harga\"] || 0);\n\n  const subtotal = qty * harga;\n\n  grandTotal += subtotal;\n\n  lines.push({\n    nama,\n    qty,\n    harga,\n    subtotal,\n  });\n}\n\n// Bangun teks caption untuk Telegram\nconst captionLines = lines.map(l => {\n  return `${l.nama} jumlahnya ${l.qty} harganya ${l.subtotal}`;\n});\n\nlet caption = captionLines.join('\\n');\ncaption += `\\ntotal: ${grandTotal}\\nSilahkan anda membayar melalui kode QR tersebut`;\n\n// Bangun caption khusus untuk Google Sheet\n// Format: \"nama barang\", \"qty\" buah\nconst sheetCaptionLines = lines.map(l => {\n  return `${l.nama}, ${l.qty} buah`;\n});\n\nconst sheetCaption = sheetCaptionLines.join('\\n');\n\n// Return SATU item berisi lines + grand_total + caption2\nreturn [\n  {\n    json: {\n      lines,\n      grand_total: grandTotal,\n      caption,          // untuk Telegram\n      sheet_caption: sheetCaption, // untuk Google Sheets\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        208
      ],
      "id": "f7e6bc01-18d0-41cb-990c-a6ee3cf6d4dd",
      "name": "Build Caption"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Harus berupa voice",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ],
      "id": "c9e49e2f-dba1-4315-a582-6c0eb4cc126e",
      "name": "Send a text message",
      "webhookId": "c54dd950-24fc-4eed-8606-e75182861143",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        432
      ],
      "id": "1128bbe2-e51e-4fb5-91f6-61929d28e922",
      "name": "Wait",
      "webhookId": "783d7eae-5067-4bec-90c3-b3c3abf9ff6f"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        672
      ],
      "id": "b1876ca6-523d-4a17-8fdb-0d62efc58920",
      "name": "Wait1",
      "webhookId": "4e2446c1-926b-4c87-a32e-ed138eb5c460"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{$node[\"Build Caption\"].json[\"caption\"]}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        432
      ],
      "id": "958accb5-e369-46e0-bd0f-c38600e47152",
      "name": "Kirim QR",
      "webhookId": "7085bc1e-7327-4602-a0c8-26c39d9a0c03",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "Menunggu Pembayaran (30 detik)",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        432
      ],
      "id": "b978f3f7-be6a-4312-a2b8-5b042f8194e5",
      "name": "Menunggu",
      "webhookId": "cca60665-129a-41eb-8108-ecf69688ead8",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "(SIMULASI) Pembayaran telah diterima oleh payment gateway",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        432
      ],
      "id": "24c24f5b-50ed-4825-98d7-fac2a1663833",
      "name": "Pembayaran Berhasil",
      "webhookId": "4eb61c43-a283-43d2-8897-b153eb828237",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "messageId": "={{$node[\"Menunggu\"].json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        432
      ],
      "id": "460b9dbf-bbb8-4380-813c-782877795d65",
      "name": "Delete Menunggu",
      "webhookId": "c5591d42-03a5-4a28-8caf-bb7667c5d91c",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "messageId": "={{$node[\"Kirim QR\"].json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        432
      ],
      "id": "dc897802-68a7-4302-ac08-bded70ec96ca",
      "name": "Delete Kirim QR",
      "webhookId": "c5591d42-03a5-4a28-8caf-bb7667c5d91c",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        672
      ],
      "id": "3b21f79a-80f6-42f9-bd6e-32a98c453548",
      "name": "Wait2",
      "webhookId": "4e2446c1-926b-4c87-a32e-ed138eb5c460"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "messageId": "={{$node[\"Pembayaran Berhasil\"].json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        672
      ],
      "id": "c21d3e71-4f7b-4b07-b824-8ce55755357e",
      "name": "Delete Pembayaran Berhasil",
      "webhookId": "c5591d42-03a5-4a28-8caf-bb7667c5d91c",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "Syukron telah berbelanja di kedai kami🤩😍",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        672
      ],
      "id": "5a706067-48bb-4665-9da3-e49ad0110c28",
      "name": "Syukron",
      "webhookId": "833d4161-da61-460d-8e78-e4b428e23bc3",
      "credentials": {
        "telegramApi": {
          "id": "MVsqo3YRmpteyfJ7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const root  = items[0].json;\nconst lines = root.lines || [];\n\nconst out = [];\n\nfor (const l of lines) {\n  out.push({\n    json: {\n      nama: l.nama,\n      qty: Number(l.qty || 0),\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        864
      ],
      "id": "8f74bb54-7d75-433f-89b6-945f3d2a6213",
      "name": "Split Lines"
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json;  // hasil Lookup\n  const nama     = row[\"Nama Produk\"] || row.nama;\n  const stokLama = Number(row.Stok || 0);\n\n  // Ambil qty dari node \"Split Lines\" dengan index yang sama (i)\n  const qtyBeli  = Number($item(i).$node[\"Split Lines\"].json.qty || 0);\n\n  const stokBaru = stokLama - qtyBeli;\n\n  out.push({\n    json: {\n      nama,\n      stok_lama: stokLama,\n      qty_beli: qtyBeli,\n      stok_baru: stokBaru,\n    },\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        864
      ],
      "id": "af793cb1-335b-4880-b9b0-07f3df9427e0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src",
          "mode": "list",
          "cachedResultName": "Cashflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2129359818,
          "mode": "list",
          "cachedResultName": "Daftar Harga",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit#gid=2129359818"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $node[\"Sheet Stock\"].json[\"row_number\"]}}",
            "Stok": "={{$json[\"stok_baru\"]}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nama Produk",
              "displayName": "Nama Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Harga",
              "displayName": "Harga",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Stok",
              "displayName": "Stok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lower",
              "displayName": "lower",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        864
      ],
      "id": "bf7c9bc3-b0e8-4255-a256-e758a959974e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZmIrHaIG1IPPBpP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src",
          "mode": "list",
          "cachedResultName": "Cashflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2129359818,
          "mode": "list",
          "cachedResultName": "Daftar Harga",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mkEnhCAAWZqdsC_s-dwMLzb75-fV7Q3JbmFft8O3Src/edit#gid=2129359818"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "lower",
              "lookupValue": "={{$json[\"nama\"]}}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        864
      ],
      "id": "7342e05e-9cd1-4fe4-8cb8-69c6d7b78e1d",
      "name": "Sheet Stock",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZmIrHaIG1IPPBpP",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Items Parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items Parsed": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Kirim QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Caption": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Delete Kirim QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Delete Pembayaran Berhasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim QR": {
      "main": [
        [
          {
            "node": "Menunggu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pembayaran Berhasil": {
      "main": [
        [
          {
            "node": "Delete Menunggu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Kirim QR": {
      "main": [
        [
          {
            "node": "Pembayaran Berhasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Menunggu": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Syukron",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Pembayaran Berhasil": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Syukron": {
      "main": [
        []
      ]
    },
    "Split Lines": {
      "main": [
        [
          {
            "node": "Sheet Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Stock": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5d0a897-be9e-4d09-90e2-4ea06cb27ccc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcf04095c899338b3975046af0fb9b4e90a981556a26964efd30e728a2e9691e"
  },
  "id": "KTPhSQYMPcBkRPse",
  "tags": []
}
